$mainBackground: #F0F5F9;

$silverThree: #dddfe1;
$oddColor: #fbfbfb;
$lightGray: #f3f7ef;
$lightGray: #f3f7ef;
$silver: #d9dfe3;
$paleGrey: #dce1e6;
$coolGrayTwo: #9da3aa;
$steel: #81878f;
$strongSilver: #81888f;
$mystic: #e6ebf0;
$darkGrey: #18191a;
$macaroniAndCheese: #f7c134;
$dustyOrange: #eb7f2e;
$softGreen: #64c76c;
$rollingStone: #797f86;
$redOrange: #fd431f;
$lightGold: #ffcc5d;
