@import "./colors.scss";

:global {
  html {
    box-sizing: border-box;
    font-family: FedraSans, 'sans-serif';
    font-size: 14px;
    background: #f1f1f1;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  html,
  body,
  #root,
  .app-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .test-container {
      > div {
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }
    .random-date {
      border: solid 1px #e1e3e6;
      padding: 0 10px;
      height: 32px;
      border-radius: 2px;
      cursor: pointer;
      margin-top: 20px;
      background-color: #fff;
      &:hover {
        filter: brightness(0.97);
      }
      &:active {
        filter: brightness(0.95);
      }
    }
  }

  a,
  button {
    user-select: none;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: $silverThree;
    border: 2px solid #fff;
    &:hover {
      background: #989fa8;
    }
    &:active {
      background: $rollingStone;
    }
  }
}