@import "./colors.scss";

:global {
  html {
    box-sizing: border-box;
    font-family: FedraSans, 'sans-serif';
    font-size: 14px;
    background: $mainBackground;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  html,
  body,
  #root,
  .app-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .test-container {
      width: 44vw;
      height: 44vh;
    }
  }

  .app-container {
    padding-top: 344px;
    padding-left: 44px;
    @media (max-width: 1000px) {
      padding-top: 300px;
      padding-left: 150px;
    }
  }

  a,
  button {
    user-select: none;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: $silverThree;
    border: 2px solid #fff;
    &:hover {
      background: #989fa8;
    }
    &:active {
      background: $rollingStone;
    }
  }
}