@import "./colors.scss";

:global {
  html {
    box-sizing: border-box;
    font-family: FedraSans, 'sans-serif';
    font-size: 14px;
    background: #f1f1f1;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  html,
  body,
  #root,
  .app-container {
    height: 100%;
    width: 100%;
  }

  body {
    margin: 0;
  }

  .app-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .root-container {
      padding: 20px;
      flex-wrap: wrap;
      display: flex;
      .group {
        margin-bottom: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        .label {
          font-size: 12px;
          padding-bottom: 5px;
          color: #777777;
        }
        &:last-child {
          margin-right: 0;
        }
        .range {
          display: flex;
          width: 100%;
          align-items: center;
          .hyphen {
            padding-right: 10px;
          }
          .datePicker-container:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    .button-group {
      text-align: center;
      border-top: 1px dashed #8c8c8c;
      padding: 14px 20px 20px 34px;
      margin: 22px 20px 0 20px;
      .button {
        font-size: 12px;
        height: 24px;
        box-sizing: border-box;
        display: inline-block;
        font-weight: bold;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 2px;
        color: #fff;
        border: none;
        background-color: #759b21;
        &:hover {
          filter: brightness(0.97);
        }
        &:active {
          filter: brightness(0.95);
        }
        &:first-child {
          margin-right: 28px;
        }
      }
    }
  }

  .license {
    color: #64c76c;
    position: absolute;
    bottom: 44px;
    right: 44px;
    font-size: 14px;
    padding: 5px 10px;
  }

  a,
  button {
    user-select: none;
  }
}