.datePicker-container {
  display: inline-block;
  position: relative;
  .date-picker-control {
    text-align: start;
    box-sizing: border-box;
    width: 124px;
    &.withTime {
      padding: 0 30px 0 10px;
      width: 194px;
    }
    &.error {
      border-color: rgb(255, 105, 51);
    }
  }

  .toggle-button {
    cursor: pointer;
    padding: 0;
    width: 15px;
    height: 16px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    background: url(./img/calendar_icon.svg);
    &:hover {
      filter: brightness(0.9);
    }
    &.isOpen {
      background: url(./img/calendar_icon_active.svg);
    }
  }

  .datePicker-error {
    white-space: nowrap;
    position: absolute;
    bottom: -2px;
    transform: translateY(100%);
    color: rgb(255, 105, 51);
    font-size: 12px;
  }
}

.date-picker-number-input > input, .date-picker-control {
  padding: 0 10px;
  font-size: 16px;
  height: 32px;
  border: solid 1px #e1e3e6;
  border-radius: 2px;
  &::-ms-clear {
    display: none;
  }
  &:focus {
    border-color: #a1c04c;
  }
}

.datePicker {
  position: absolute;
  z-index: 999;
  width: 230px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

  .control {
    padding: 0 15px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .currentDate {
      color: #a1c04c;
      font-size: 16px;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .control-btn-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      &:hover {
        filter: brightness(0.9);
      }
    }
    .prev, .next {
      border: 4px solid transparent;
    }
    .prev {
      border-right: 6px solid #cfd3d8;
    }
    .next {
      border-left: 6px solid #cfd3d8;
    }
  }

  .header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    .weekday {
      font-size: 14px;
      line-height: normal;
      display: flex;
      justify-content: center;
      span {
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .calendar {
    padding: 10px;
    position: relative;
    .grid {
      flex-wrap: wrap;
      display: flex;
      .monthday {
        text-align: center;
        font-size: 14px;
        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          border-radius: 2px;
          cursor: pointer;
          &:hover {
            background-color: #eef1f5;
          }
        }
        &.currentDay {
          > span {
            color: #fff;
            background-color: #a1c04c;
          }
        }
      }
      &.onlyCurrentMonthDay {
        .prevMonthDay, .nextMonthDay {
          visibility: hidden;
        }
      }
    }
  }
  .number-input-container {
    border-top: 1px solid #d8d8d8;
    margin: 0 15px;
    padding: 10px 0 15px 0;
    display: flex;
    .date-picker-number-input {
      display: flex;
      width: calc(100% / 3);
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      > input {
        text-align: center;
        padding: 0 5px;
        width: 38px;
      }
      label {
        text-align: center;
        flex: 1;
        line-height: 32px;
        color: #a8afb8;
        background-color: #eef1f5;
      }
    }
  }
}

