.datePicker-container {
  display: inline-block;
  position: relative;
  width: 124px;
  &.withTime {
    width: 194px;
  }
  .date-picker-control {
    width: 100%;
    text-align: start;
    box-sizing: border-box;
    &.error {
      border-color: rgb(255, 105, 51);
    }
  }

  .toggle-button {
    cursor: pointer;
    padding: 0;
    width: 15px;
    height: 16px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    background: url(./img/calendar_icon.svg);
    &:hover {
      filter: brightness(0.9);
    }
    &.isOpen {
      background: url(./img/calendar_icon_active.svg);
    }
  }

  .datePicker-error {
    white-space: nowrap;
    position: absolute;
    bottom: -2px;
    transform: translateY(100%);
    color: rgb(255, 105, 51);
    font-size: 12px;
  }
}

.date-picker-number-input > input, .date-picker-control {
  padding: 0 10px;
  font-size: 16px;
  height: 32px;
  border: solid 1px #e1e3e6;
  border-radius: 2px;
  transition: border-color 0.4s ease;
  &::-ms-clear {
    display: none;
  }
  &:focus {
    border-color: #759b21;
  }
  .error {
    border-color: #ff6933;
  }
}

.datePicker {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  width: 230px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

  .datapicker-dropdown-list {
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    top: -4px;
    overflow: auto;
    z-index: 9999;
    width: 121px;
    position: absolute;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    height: 0;
    transition: height .2s ease;
    &.months-list {
      left: 40px;
    }
    &.years-list {
      width: 95px;
      right: 4px;
    }
    &.dropdown-list-is-open {
      height: 260px;
    }
    > li {
      padding: 10px 15px;
      cursor: pointer;
      &:first-letter {
        text-transform: uppercase;
      }
      &.active-item {
        color: #759b21;
      }
      &:hover {
        background-color: rgba(216, 216, 216, 0.2);
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      min-width: 4.444em;
      min-height: 4.444em;
      background: rgb(216, 216, 216);
      border: 4px solid #fff;
      border-radius: 14px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(100, 100, 100, 0.4);
    }

    &::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .control {
    padding: 0 15px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .current-year, .current-month {
      > span {
        cursor: pointer;
        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .currentDate {
      width: 100%;
      display: flex;
      color: #759b21;
      font-size: 16px;
      .current-month {
        width: 65%;
        text-align: center;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      .current-year {
        width: 35%;
      }
    }
    .control-btn-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      &:hover {
        filter: brightness(0.9);
      }
    }
    .prev, .next {
      border: 4px solid transparent;
    }
    .prev {
      border-right: 6px solid #cfd3d8;
    }
    .next {
      border-left: 6px solid #cfd3d8;
    }
  }

  .header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    .weekday {
      font-size: 14px;
      line-height: normal;
      display: flex;
      justify-content: center;
      span {
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .calendar {
    padding: 10px 10px 0 10px;
    position: relative;
    .grid {
      flex-wrap: wrap;
      display: flex;
      .monthday {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        height: 30px;
        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          border-radius: 2px;
          cursor: pointer;
          &:hover {
            background-color: #eef1f5;
          }
        }
        &.selectedDay {
          > span {
            color: #fff;
            background-color: #759b21;
            &:hover {
              background-color: #88a74b;
            }
          }
          &.nextMonthDay, &.prevMonthDay {
            > span {
              background-color: rgba(161,192,76, 0.4);
            }
          }
        }
        &.selecting-range {
          > span {
            background-color: rgba(161,192,76, 0.4);
          }
        }
        &.in-range {
          > span {
            background-color: rgba(161,192,76, 0.2);
          }
        }
      }
      .prevMonthDay, .nextMonthDay {
        color: #a8afb8;
      }
      &.withoutOffsetDate {
        .prevMonthDay, .nextMonthDay {
          visibility: hidden;
        }
      }
      &.disabledOffsetDate {
        .prevMonthDay, .nextMonthDay {
          > span {
            color: rgba(168, 175, 184, 0.5);
            pointer-events: none;
            cursor: default;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .number-input-container {
    margin: auto 15px 15px 15px;
    border-top: 1px solid #d8d8d8;
    padding: 10px 0 0 0;
    display: flex;
    .date-picker-number-input {
      display: flex;
      width: calc(100% / 3);
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      > input {
        box-sizing: border-box;
        text-align: center;
        padding: 0 5px;
        width: 38px;
      }
      label {
        text-align: center;
        flex: 1;
        line-height: 32px;
        color: #a8afb8;
        background-color: #eef1f5;
      }
    }
  }
}

